@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não possuí permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">Voltar.</a></p>